<!-- Formulario para carga de usuario -->
<div class="container mt-4 mb-5">
  <div class="d-flex bg-secondary">
    <div class="m-4 flex-fill bg-light">
      <form [formGroup]="form" novalidate (ngSubmit)="create($event)"
      >
        <div class="form-group row m-2">
          <div class="col">
            <input class="form-control" type="text" placeholder="Nombre" formControlName="firstName" trim="blur"/>
            <span class="text-danger" *ngIf="this.form.get('firstName')?.touched && this.form.get('firstName')?.errors">
              El nombre es obligatorio
            </span>
          </div>
        </div>

        <div class="form-group row m-2">
          <div class="col">
            <input class="form-control" type="text" placeholder="Apellido" formControlName="lastName" trim="blur"/>
            <span class="text-danger" *ngIf="this.form.get('lastName')?.touched && this.form.get('lastName')?.errors">
              El apellido es obligatorio
            </span>
          </div>
        </div>

        <div class="form-group row m-2">
          <div class="col">
            <input class="form-control" type="text" placeholder="Dirección" formControlName="address" trim="blur"/>
            <span class="text-danger" *ngIf="this.form.get('address')?.touched && this.form.get('address')?.errors">
              La dirección es obligatoria
            </span>
          </div>
        </div>

        <div class="form-group row m-2">
          <div class="col">
            <input class="form-control" type="text" placeholder="SSN (###-##-####)" formControlName="ssn"/>
            <div class="text-danger" *ngIf="this.form.get('ssn')?.errors && this.form.get('ssn')?.touched">
              <span *ngIf="this.form.get('ssn')?.hasError('required')">
                El ssn es un campo obligatorio
              </span>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row-reverse mx-4">
          <button class="btn btn-success btn-block m-1 rounded-pill" role="button" type="submit" [disabled]="form.invalid">
            Guardar
          </button>
          <button class="btn btn-secondary btn-block m-1 rounded-pill" role="button" (click)="form.reset()">
            Limpiar
          </button>
        </div>
      </form>
    </div>

    <!-- Tabla de usuarios -->
    <div class="m-4 flex-fill bg-light table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>SSN</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.firstName }}</td>
            <td>{{ usuario.lastName }}</td>
            <td>{{ usuario.address }}</td>
            <td>{{ usuario.ssn }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
