<section>
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">

        <div class="card mt-5" style="width: 60%;">
          <h1 class=" card-header mt-1">Agripay FrontEnd Challenge</h1>
          <div class="card-body">
            <p class="card-text">A continuación se hará una presentación de un sitio web, el cual consta de un formulario para cargar usuarios para simular una persistencia a través de una api proporcionado por Agripay.<br><br>
              Para proceder con la prueba dirigirse a la pestaña "Usuario".</p>
          </div>
        </div>

      </div>
  </div>
</section>
